

<div class="dropdown">
  <h3>Hi, <%=user.firstName%> <i class="far fa-heart"></i> <i class="fas fa-chevron-down"></i></h3>
  <div class="dropdown-content">


  <ul>


    <li>
      <form class="" action="/users/sessions?_method=DELETE" method="post">
        <a href="javascript:{}" onclick="document.querySelector('form').submit();">Log out</a>
    <!-- <input type="submit" name="" value="Log Out"> -->
    </form>
    </li>

  </ul>

  </div>
</div>
