
<div class="container">
<section class="collections">


  <div class="collection dinnerware">
    <div class="collection-overlay"></div>

    <img src="https://i.etsystatic.com/15377252/r/il/b10f86/1385979207/il_1588xN.1385979207_569r.jpg" alt="dinnerware collection">

      <h2>Dinnerware</h2>
      <a href="/products/dinnerware">
      <button>SHOP NOW</button>
    </a>
  </div>

  <div class="collection cookware">
    <div class="collection-overlay"></div>

    <img src="https://assets.wsimgs.com/wsimgs/rk/images/dp/wcm/202012/0193/ruffoni-hand-hammered-historia-copper-chefs-pan-with-wood--c.jpg" alt="cookware collection">


      <h2>Cookware</h2>
      <a href="/products/cookware">
      <button>SHOP NOW</button>
    </a>
  </div>

  <div class="collection bakeware">
    <div class="collection-overlay"></div>

    <img src="https://i.etsystatic.com/14093002/r/il/5d1529/1334159784/il_1588xN.1334159784_6hix.jpg" alt="bakeware collection">


      <h2>Bakeware</h2>
      <a href="/products/bakeware">
      <button>SHOP NOW</button>
    </a>
  </div>

  <div class="collection decor">
    <div class="collection-overlay"></div>

    <img src="https://images.unsplash.com/photo-1510116129875-b4a01f92c8fe?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=2551&q=80" alt="Decor collection">


      <h2>Decor</h2>
      <a href="/products/decor">
      <button>SHOP NOW</button>
    </a>
  </div>

  <div class="collection cutlery">
    <div class="collection-overlay"></div>

    <img src="https://i.etsystatic.com/18538789/r/il/159a26/2205561793/il_1588xN.2205561793_5pfo.jpg" alt="cutlery collection">


      <h2>Cutlery</h2>
      <a href="/products/cutlery">
      <button>SHOP NOW</button>
    </a>
  </div>
</section>
</div>
