<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
    <script src="https://kit.fontawesome.com/4b72f81b1d.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="/css/main.css">
  </head>
  <body>
    <header>
      <a href="/">
        <h1>Basic Goodness</h1>
      </a>

      <nav>

        <%if(!user){%>
        <a href="/users/sessions/new">Log In</a>
        <a href="/users/new">Sign Up</a>
      <%}%>


        <%if(user && user.role === 'artist'){%>
              <%- include ('partials/artist-nav.ejs')%>
            <%} else if(user && (user.role === 'user' || user.role === 'admin')) {%>
              <%- include ('partials/user-nav.ejs')%>
        <%}%>

      </nav>

    </header>

    <%- body %>

    <footer></footer>
  </body>
</html>
