@import url("https://fonts.googleapis.com/css2?family=Noto+Serif+JP:wght@200;400&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Beth+Ellen&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

* a,
* button {
  color: #261520;
  cursor: pointer;
}

img {
  display: inline-block;
}

.uniform {
  display: -ms-grid;
  display: grid;
  grid-gap: 1em;
  margin: 2em auto;
  width: 500px;
  max-width: 80%;
}

.uniform input,
.uniform textarea,
.uniform select {
  font-family: "Noto Serif JP", serif;
  padding: 1em;
  font-size: 1.2em;
}

.uniform input[type="submit"] {
  background: #676767;
  color: white;
  border: none;
  font-family: "Georgia pro";
}

body {
  /* background: #d4ab807a; */
  font-family: "Noto Serif JP", serif;
  font-weight: 200;
  color: #261520;
  min-height: 100vh;
}

header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;

  padding: 2em 3em;
  position: static;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  height: 200px;
  /* background-image: url(https://images.unsplash.com/photo-1536000800373-5b5e6020910a?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1652&q=80); */
  background-position: center;
  position: relative;
  background: #fbdfc7;
}

header a {
  text-decoration: none;
}

header h1 {
  font-size: 3em;
  /* font-family: "Beth Ellen", cursive; */
  color: white;
}

header p {
  font-size: 20px;
}

nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  position: absolute;
  top: 30px;
  right: 30px;
}

.dropdown {
  position: relative;
  display: inline-block;
  cursor: pointer;
}

.dropdown:hover .dropdown-content {
  opacity: 1;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
  z-index: 1;
}

.dropdown-content {
  opacity: 0;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
  position: absolute;
  background: white;
  z-index: -1;
  border: 1px solid black;
  padding: 1em;
}

.dropdown-content ul {
  list-style: none;
}

/* Root */

.welcome {
  display: -ms-grid;
  display: grid;
  grid-gap: 30px;
  text-align: center;
  margin: 0 auto 2em auto;
  padding: 7em 0 6em 0;
  background: #373e4c;
  color: white;
  justify-items: center;
  align-items: center;
}

.welcome h2 {
  font-size: 3em;
  max-width: 80%;
}

.welcome p {
  font-size: 1.3em;
  max-width: 80%;
}

.collections {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr;
  grid-template-columns: 1fr;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  grid-gap: 3em;
  padding: 1em 4em;
}

.collection {
  position: relative;
  height: 65vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  color: white;
  background: rgba(0, 0, 0, 0.25);
  overflow: hidden;
  padding: 1em;
}

.collection-overlay {
  position: absolute;
  z-index: 0;
  border: 3px solid white;
  top: 15px;
  bottom: 15px;
  right: 15px;
  left: 15px;
}

.collection img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
  object-fit: cover;
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

.collection:hover img {
  -webkit-transform: scale(1.03);
  transform: scale(1.03);
}

.collection h2 {
  color: white;
  font-size: 3em;
  width: 100%;
  text-align: center;
  padding: 0.5em 0;
  font-weight: 200;
  z-index: 3;
}

.collection a {
  z-index: 2;
}

.collection button {
  background: transparent;
  outline: none;
  color: white;
  font-size: 20px;
  padding: 0.75em;
  border: 3px solid white;
  font-family: "Georgia Pro";
}

/* Collections Index page */

.collection-title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
  justify-content: space-around;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  padding: 3em 0 2em 0;
}

.collection-title h1 {
  font-weight: 200;
}

.collection-title hr {
  width: 25%;
  height: 2px;
}

.products {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr;
  grid-template-columns: 1fr;
  padding: 0 4em 2em 4em;
}

.product {
}

.product img {
  width: 100%;
  height: 400px;
  -o-object-fit: cover;
  object-fit: cover;
}

/*products index page */
.products {
  display: -ms-grid;
  display: grid;
  grid-gap: 3em;
}

.product {
}

.product img {
  height: 500px;
}

.product-details {
  display: grid;
  grid-gap: 10px;
  grid-template-columns: 3fr 1fr;
  padding: 1em 2em;
}

.product-details h3 {
  font-size: 1.2em;
}

.product-details a {
  text-decoration: none;
}

.product-details p:first-of-type {
  font-size: 1.3em;
  justify-self: end;
}

/* show page  */
.product-container {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr;
  grid-template-columns: 1fr;
  padding: 3em 2em 0 2em;
}

.img-container {
  position: relative;
}

.img-container img {
  width: 100%;
  height: 500px;
  object-fit: cover;
}

.controls {
  position: absolute;
  bottom: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.controls input,
.controls button {
  background: #373e4c;
  padding: 0.5em;
  font-family: "Noto Serif JP", serif;
  outline: none;
  border: none;
  font-size: 1.2em;
  -webkit-transition: all 0.2s ease;
  transition: all 0.2s ease;
  color: white;
}

.controls input:hover,
.controls button:hover {
  background: #fbdfc7;
}

.product-info {
  padding: 2em;
  width: 100%;
  display: -ms-grid;
  display: grid;
  grid-gap: 2em;
}

.product-info button {
  width: 75%;
  justify-self: center;
  background: transparent;
  outline: none;
  color: black;
  font-size: 25px;
  border: 2px solid black;
  font-family: "Georgia Pro";
  -webkit-transition: all 0.2s ease;
  transition: all 0.2s ease;
  font-weight: 100;
  padding: 0.5em;
  max-height: 100px;
  letter-spacing: 3px;
  /* line-height: 30px; */
}

.product-info button:hover {
  background: #fbdfc7;
  border: 2px solid white;
  color: white;
}

.artist-container {
  border-top: 1px solid black;
  border-bottom: 1px solid black;
  margin: 3em;
  padding: 1em 1em;
  position: relative;
}

.artist-container img {
  width: 200px;
  height: 200px;
  -o-object-fit: cover;
  object-fit: cover;
  -o-object-position: center;
  object-position: center;
  border-radius: 50%;
}

.artist-container button {
  border: none;
  padding: 1em;
  background: #373e4c;
  color: white;
  position: absolute;
  top: 2em;
  right: 1em;
  font-size: 1.011em;
}

.artist-info {
  padding: 2em;
  display: -ms-grid;
  display: grid;
  -ms-grid-column-align: center;
  justify-items: center;
  grid-gap: 2em;
}

.artist-info div {
  -ms-flex-item-align: center;
  align-self: center;
  display: -ms-grid;
  display: grid;
  grid-gap: 1em;
}

.see-all {
  color: black;
  font-weight: 400;
  font-size: 1.2em;
}

/* Footer  */

footer {
  min-height: 20vh;
  background: #373e4c;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.2em;
  text-align: center;
  color: white;
}

footer a {
  color: #fbdfc7;
}

/* login pages */
.login-container,
.signup-container {
  position: relative;
  text-align: center;
  padding: 2em 0;
}

.login-container h2,
.signup-container h2 {
  font-size: 2em;
}

.login-container a,
.signup-container a {
  position: absolute;
  right: 20px;
  top: 10px;
  font-size: 20px;
}

/* error pages */
.container-404 {
  padding: 6em 3em;
  display: -ms-grid;
  display: grid;
  -ms-grid-column-align: center;
  justify-items: center;
  -ms-grid-row-align: center;
  align-items: center;
}

.quote {
  font-size: 30px;
  width: 75%;
  font-weight: 400;
}

.container-404 span {
  font-size: 25px;
  margin-bottom: 50px;
}

.container-404 p {
}

/* flash messages */
.new-product-success,
.deleted-product-success,
.error,
.success {
  margin: 30px auto 0 auto;
  width: 500px;
  text-align: center;
  max-width: 80%;
  padding: 30px;
}

.new-product-success,
.success {
  background: #e5f7e5;
}

.deleted-product-success {
  background: #deedff;
}

.error {
  background: #ff13137a;
}

/* Media Queries */
@media only screen and (min-width: 1000px) {
  .collections {
    -ms-grid-columns: 1fr 1fr;
    grid-template-columns: 1fr 1fr;
  }

  .cutlery,
  .dinnerware,
  .decor {
    -ms-grid-column: 1;
    grid-column-start: 1;
    grid-column-end: 3;
  }

  .products {
    -ms-grid-columns: 1fr 1fr;
    grid-template-columns: 1fr 1fr;
  }

  .product-container {
    -ms-grid-columns: 2fr 1fr;
    grid-template-columns: 2fr 1fr;
  }

  .product-info button {
    padding: 15px;
  }

  .artist-container {
  }

  .artist-info {
    -ms-grid-columns: 1fr 3fr;
    grid-template-columns: 1fr 3fr;
  }
}
