<div class="container-404">

  <p class="quote">“Some beautiful paths can't be discovered without getting lost.” <br></p>
  <span>― Erol Ozan</span>

  <p>This page doesn't exist but if you <a href="/">click here</a> we're sure you'll find some that do. </p>
</div>
