<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <form class="user-registration" action="/users" method="post">
      <fieldset>
        <legend>
          We're so happy you're here.
        </legend>

        <label for="first-name">First Name</label>
        <input type="text" id="first-name" name="firstName" value="" required>

        <label for="last-name">Last Name</label>
        <input type="text" id="last-name" name="lastName" value="" required>

        <label for="email">Email</label>
        <input type="email" id="email" name="email" value="" required>

        <label for="password">Password</label>
        <input type="password" id="password" name="password" value="" required>

        <input type="submit" name="" value="submit">
      </fieldset>
    </form>
  </body>
</html>
