<%if(emailNotUnique.length > 0){%>
  <div class="error">
    <%=emailNotUnique%>
  </div>
<%}%>


<div class="signup-container">
<h2>Let's create something beautiful together.</h2>

    <form class="artists-registration uniform" action="/artists" method="post">

      <label for="first-name">First Name</label>
        <input type="text" id="first-name" name="firstName" value="" required>

        <label for="last-name">Last Name</label>
        <input type="text" id="last-name" name="lastName" value="" required>

        <label for="profile-pic">Profile Picture</label>
        <input type="url" id="profile-pic" name="profilePic" value="" required>

        <label for="biography">Biography</label>
        <textarea id="biography" name="biography" rows="8" required></textarea>

        <label for="email">Email</label>
        <input type="email" id="email" name="email" value="" required>

        <label for="password">Password</label>
        <input type="password" id="password" name="password" value="" required>

        <input type="submit" name="" value="submit">

    </form>

</div>
