
<% if(user && (user._id === product.artist_id || user.role === 'admin')){%>




<form class="" action="/products/<%=product._id%>?_method=PUT" method="post">
      <fieldset>
        <legend>
          Update Product
        </legend>

        <label for="title">Title</label>
        <input type="text" id="title" name="title" value="">

        <label for="description"></label>
        <textarea name="description" rows="8" id="description"></textarea>

        <fieldset>
          <legend>Images</legend>

        <input type="url" name="images" value="" required>
        <input type="url" name="images" value="" >
        <input type="url" name="images" value="" >

            </fieldset>

        <label for="price">Price</label>
        <input type="number" id="price" name="price" value="">

        <label for="qty">Quantity</label>
        <input type="number" id="qty" name="qty" value="">

        <label for="category"></label>
        <select class="" id="category" name="category">
          <option value="dinnerware">Dinnerware</option>

          <option value="cookware">Cookware</option>

          <option value="bakeware">Bakeware</option>

          <option value="cutlery">Cutlery</option>

          <option value="decor">Decor</option>
        </select>
        <input type="submit" name="" value="Update">
      </fieldset>
    </form>
<%}else {%>
  <p>Sorry you don't have access to this page. <a href="/">Click here to return to the home page.</a></p>
<%}%>
