
    <form class="uniform" action="/products" method="post">

        <h2>Add New Product</h2>


        <label for="title">Title</label>
        <input type="text" id="title" name="title" value="">

        <label for="description">Description</label>
        <textarea name="description" rows="8" id="description"></textarea>


          <label for="product-images">Product Image</label>

        <input type="url" id="product-images" name="images" value="" required>




        <label for="price">Price</label>
        <input type="number" id="price" name="price" value="">

        <label for="qty">Quantity</label>
        <input type="number" id="qty" name="qty" value="">

        <label for="category"></label>
        <select class="" id="category" name="category">
          <option value="dinnerware">Dinnerware</option>

          <option value="cookware">Cookware</option>

          <option value="bakeware">Bakeware</option>

          <option value="cutlery">Cutlery</option>

          <option value="decor">Decor</option>
        </select>
        <input type="submit" name="" value="Create">
      
    </form>
