<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>

    <!-- I have access to both the artist object and the product object. -->

    <h2><%=product.title%></h2>

    <img src="<%=product.images[0]%>" alt="">

<div class="artist">
  <%=artist.firstName%>
</div>






    <% if(user && (user._id == artist._id)){%>
    <form class="">
      <input type="submit" name="" value="Delete">
    </form>
    <a href="/products/edit/<%=product._id%>"> <button type="button" name="button">Edit</button> </a>
  <%}%>


  </body>
</html>
